body{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: var(--color-three);
}
h1{
    margin: 0;
    font-size: 40px;
}

h2,h3,h4,h5,h6,p{
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
div{
    box-sizing: border-box;
}

:root {
    --color-one:#204a43;
    --color-two: #607432;
    --color-three:#8f9b74;
    --color-four:#b0ba99;
    --color-five: #d8ddcc;
    --color-six:#f2f5ee;
    --color-bg:#6a6f73;
    
    --color-yellow:#fdcc70;
    --color-yellow-two:#fde4a8;
    --color-pink:#f78f9b;
    --color-blue:#5cd2d0;
}


/* //form */
/* //form */
/* //form */
.form {
    margin: 20px;
    padding: 20px 40px;
    border: 2px solid var(--color-two);
    border-radius: 10px;
}

.form-input {
    font-size: 20px;
    padding: 10px 0px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.form-input input,
.form-input select {
    width: 300px;
    padding: 5px 3px;
    border: 1px solid var(--color-two);
    border-radius: 3px;
    margin-left: 20px;
}
